
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth fixed-top miNavBar">
      <a class="navbar-brnd" href="/"><img src="/asset/logo/logo5.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span uk-navbar-toggle-icon></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item  active">
            <a  class="nav-link  " href="/">Inicio <span class="sr-only"></span></a>
          </li>
          <li  class="nav-item  ">
            <a class="nav-link" href="/nosotros">Nosotros </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/productos">Productos</a>          
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>        
          <li class="nav-item ">
            <a class="nav-link" href="/administrar">Administrar</a>
          </li>
        </ul>      
            <div class="col-2-sm">
              <a href="https://www.instagram.com/"><img class="icon-ins"  src="/asset/logo/instagram.png" alt=""></a>
              <a href="https://www.facebook.com/"><img class="icon-face"  src="/asset/logo/facebook.png" alt=""></a>
                  
             </div>   
      </div>
      
      
      
      
      
    </nav>  
    
    
    
     
  </header>
  