<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <p style="width: 100%; text-align: center; text-transform: uppercase; letter-spacing: 2px;">3 y 6 cuotas sin intéres todos los días con Plan ahora!</p>
    <%- include("../partials/header") %> 
    <section class="body-section">
        <div class="img-portada">
            <img src="../asset/img-protada/emilia-about.jpg" alt="Emily" width="50%" height="50%">
        </div>       
       
    </section>
    <section  class="body-section2">
        <div class="art1">dlas</div>
        <div class="art2"><img src="/public/asset/img-productos/collections/winter/pexels-arsham-haghani-3584505.jpg" alt="" width="100%"></div>

    </section>

  <footer>footer</footer>
</body>
    <%- include("../partials/script.ejs") %> 
</html>